@import '~modularscale-sass/stylesheets/modularscale';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.footer-wrapper {
  a {
    color: #111111;
    text-decoration: none;
    display: flex;
    font-family: 'bagnard_regularregular';
    font-size: ms(0);
    text-transform: uppercase;
    letter-spacing: 1px;
    align-self: flex-start;
    &:hover {
      color: orangered;
      cursor: pointer;
    }
  }
}
